---
import QRGenerator from '../components/QRGenerator.jsx';
import '../styles/global.css';

---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Generador de Códigos QR</title>
	</head>
	<body>
		<QRGenerator client:load />
	</body>
</html>

